.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    border-bottom: 1px solid white;
    overflow: hidden;
}
.navbar h2{
    font-family: "Archivo Black", serif;
    font-size: 3vw;
}
.nav-items{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1vw;
    font-weight: 100;
}
.nav-item{
    text-transform: uppercase;
    cursor: pointer;
    transition: filter 0.5s ease-in-out;
}
.nav-item:hover{
    color: #0da34e;
    font-weight: 800;
}
.navbar:hover .nav-item:not(:hover) {
    filter: blur(2px);
}