.button3{
    text-transform: uppercase;
    color: white;
    background-color: #4f5bff;
    border: none;
    padding: 1.5vw 2.5vw;
    border-radius: 10rem;
    font-weight: 800;
    cursor: pointer;
    width: 100%;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    svg{
        font-size: 1.2vw;
    }
}
.button3:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}